body {
    margin: 0;
    padding: 0;
    font-family: 'Triforce','Hylia Serif','Times New Roman', Times, serif;
}

.contenedor {
    position: relative;
    width: 100%;
}

.imagen-fondo {
    width: 100%;
    height: auto;
    display: block;
}

.contenedor a {
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 28px;
    color: white;
    text-decoration: none;
    background: rgba(0, 0, 0, 0.4);
    padding: 15px 40px;
    border-radius: 50px;
    backdrop-filter: blur(5px);
    transition: 0.3s ease;
}

.contenedor a:hover {
    background: rgba(0, 0, 0, 0.6);
    transform: translateX(-50%) scale(1.05);
}


@media (max-width: 768px) {

    .contenedor {
        position: relative;
    }

    .contenedor a {
        position: relative;
        display: block;
        width: 80%;
        margin: 20px auto 40px auto;
        transform: none;
        bottom: auto;
        left: auto;
        text-align: center;
        font-size: 22px;
    }

}

