body {
    margin: 0;
    padding: 0;
    font-family: 'Triforce','Hylia Serif','Times New Roman', Times, serif;
}

@font-face {
    font-family: 'Triforce';
    src: url('fonts/Triforce.ttf') format('truetype');
}

@font-face {
    font-family: 'Hylia Serif';
    src: url('fonts/HyliaSerifBeta-Regular.otf') format('truetype');
}

.contenedor {
    text-align: center;
}

.imagen-fondo {
    width: 100%;
    height: auto;
    display: block;
}

.contenedor a {

    display: inline-block;
    margin: 30px 0 50px 0;
    font-size: 22px;
    color: white;
    text-decoration: none;
    background: rgba(0, 0, 0, 0.4);
    padding: 15px 40px;
    border-radius: 50px;
    backdrop-filter: blur(5px);
    transition: 0.3s ease;
}

.contenedor a:hover {
    background: rgba(0, 0, 0, 0.6);
    transform: scale(1.05);
}

.mensaje-extra {
    margin: 15px 20px 50px 20px;
    font-size: 20px;
    color: #7a7a7a;
    font-style: italic;
}


@media (max-width: 768px) {

    .contenedor {
        position: relative;
    }

    .contenedor a {
        position: relative;
        display: block;
        width: 80%;
        margin: 20px auto 40px auto;
        transform: none;
        bottom: auto;
        left: auto;
        text-align: center;
        font-size: 22px;
    }

}

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100dvh;
}


